body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-background {
  background: #565c9c;
}

.dashboard-content-background {
  background: #55566c;
}

.active-link {
  border-color: #f7fafc;
  background-color: rgba(113, 128, 150);
}

.link {
  display: flex;
  margin-top: 1rem;
  border-left-width: 4px;
  padding: 1rem;
  background-color: #2d3748;
  --bg-opacity: 0.25;
  border-color: #2d3748;
}
