body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-background {
  background: #565c9c;
}

.dashboard-content-background {
  background: #55566c;
}

.active-link {
  border-color: #f7fafc;
  background-color: rgba(113, 128, 150);
}

.link {
  display: flex;
  margin-top: 1rem;
  border-left-width: 4px;
  padding: 1rem;
  background-color: #2d3748;
  --bg-opacity: 0.25;
  border-color: #2d3748;
}

.bg-primary {
  background-color: #5D40B8;
}

.color-primary {
  color: #5D40B8;
}

.react-toggle--checked .react-toggle-track {
  background-color: #5D40B8;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #5D40B8;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #745eba;
}

.edit-card {
  width: 1000px;
  height: 500px;
}

.custom-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #2d3748;
}

.labl {
  display : block;
  cursor:pointer;
}

.labl > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.labl > input + div{ /* DIV STYLES */
  border: 2px solid #4a5568;
  border-radius: 10px;
}
.labl > input:checked + div { /* (RADIO CHECKED) DIV STYLES */
  border: 2px solid #5D40B8;
  color: #5D40B8;
  background-color: #fbf4ff;
  border-radius: 10px;
}

.labl > div:hover { /* (RADIO CHECKED) DIV STYLES */
  border: 2px solid #5D40B8;
  color: #5D40B8;
  background-color: #fbf4ff;
  border-radius: 10px;
}

.logs-container {
  height: 500px;
}